/*! Animation Active NavBar !*/
.nav-item > .active {
	background: black !important;
	color: #ffffff !important;
}
/*! Hover NavBar !*/
.hover-nav:hover .active{
	background-color: black;
}
.hover-nav:hover{
	background-color: rgb(184, 184, 184);
	color: #ffffff !important;
}



