/*! Animation Active NavBar !*/
.nav-item > .active {
	/* border-bottom: 1px solid var(--color-1) !important; */
	background: black;
	color: #ffffff !important;
}

/*! Hover NavBar !*/
.hover-nav:hover .active{
	background-color: black;
}
.hover-nav:hover{
	background-color: grey;
}
 /*! Custom Hamburger !*/
 .custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22,33,62, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 
.custom-toggler.navbar-toggler {
	border-color:var(--color-2);
} 