html,
body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: none; */
}
/* a{
  cursor: none;
}
.app-cursor {
  z-index: 2000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 7px solid black;
  pointer-events: none;
  transform: translate3d(0,0,0);
  position: absolute;
  background-color: #E94560;
  transition: all .1s linear;
}
h1:hover ~ .app-cursor {
  transform: scale(2);
} */
button{
  cursor: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}